* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-color: #343a40;
  --green-textcolor: #087f5b;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--grey-color);
  line-height: 1;
}

.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.item {
  box-shadow: 0 32px 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: var(--green-textcolor); */
}

.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: var(--green-textcolor);
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 4px solid var(--green-textcolor);
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: var(--green-textcolor);
}
