* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-color: #343a40;
  --green-color: #087f5b;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--grey-color);
  line-height: 1;
  margin-bottom: 86px;
}

.pagination {
  margin: 100px auto;
  width: 500px;
  /* background-color: #087f5b; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.btn {
  width: 34px;
  height: 34px;
  border-radius: 100px;
  border: none;
  font-weight: 500;
  background-color: #ffffff;

  font-size: 18px;
}

.btn:hover {
  background-color: #087f5b;
  color: #ffffff;
}

.btn--left,
.btn--right {
  width: 40px;
  height: 40px;
  border: 1px solid var(--green-color);
  border-radius: 50%;
  color: var(--green-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  width: 20px;
  height: 20px;
}

.btn-active {
  background-color: #087f5b;
  color: #ffffff;
}
