* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-color: #343a40;
  --green-color: #087f5b;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--grey-color);
  line-height: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 200px;
}

.btn {
  border: 1px solid #087f5b;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #087f5b;
  color: #ffffff;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.btn:hover .btn-icon {
  stroke: #ffffff;
}

.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #087f5b;
  color: #ffffff;
}

.dots {
  color: #868e96;
}
